@charset "UTF-8";

body {
    font-family: 'Montserrat', sans-serif;   
}

/*Padrão navbar navegação*/
.nav-link {
    position: relative;
    margin: 0 0 0 30px;
    right: -25px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase; 
}
.nav-link:hover {
    text-decoration: underline;
}

/*Padrão rodapé*/

.logo-redes {
    text-align: center;
    background: #00BFFF;    
}

.redes, .whats {
    display: flex;
    justify-content: center;  
    padding: 5px;  
}

footer {
    text-align: center;
    background: #FFFFFF;
    padding: 5px;
}

.copyright {
    color: #00BFFF;
    font-size: 13px;
    margin: 0;
}