@charset "UTF-8";

body {
    font-family: 'Montserrat', sans-serif;   
}

/*Padrão navbar navegação*/
.nav-link {
    position: relative;
    margin: 0 0 0 30px;
    right: -25px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase; 
}
.nav-link:hover {
    text-decoration: underline;
}

/*Página Home*/

.carousel-item h5 {
    position: relative;
    top: -320px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    
}

.temaPrincipal, .temaSecundario, .temaTerciario {
    
    text-transform: uppercase; 
    padding: 35px 0;  
    font-weight: bold;
    font-size: 15px;
    position: relative;
    top: -200px;
    box-shadow: 10px 10px 200px white
}

.principal {
    padding: 2em 0;
    background: #FFFFFF;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
    
    
}

.principal em {
    font-style: italic;
    font-weight: bold;
}

.titulo-principal, .titulo-secundario, .titulo-terciario, .titulo-quartenario {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.logo {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.progress-prim, .progress-seg, .progress-ter, .progress-quar {
    width: 100%;
    padding: 15px;
    margin: auto;
    
}
.pl-0 {
    padding-left: 0;
    /*!important*/
}

.mapa {
    padding: 2em 0;
    
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.redes-socias p {
    margin: 0 0 2em;
    text-align: center;
    
}

.titulo-redes, .titulo-estabelecimento, .titulo-contato {
    color: #87CEFA;
    text-align: center; 
    padding: 2px 0;
}

.imagem-it {
  width: 100%;
}
/*Página de Serviços*/

.servicos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.servicos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    min-height: 348px;
    padding-bottom: 40px;
}

.servicos li:hover {
    border-color: #F0F8FF;
    
}

.servicos li:active {
    border-color: #87CEFA;
}

.servicos li:hover h2 {
    font-size: 25px;
}

.servicos h2 {
    font-size: 17px;
    font-weight: bold;
    padding-top: 15px;
}

.servicos-descricao {
    font-size: 15px;
    padding-top: 10px;
}


/*Página Cases de sucessos*/

.servicos h2 {
    padding: 10px;
}

/*Página de Serviços*/

.banner-anuncio img {
    width: 100%;
     
}

.banner-vagas {
    
    display: flex;
    justify-content: center;
    
}

.banner-vagas img {
    width: 50%;
    margin-top: 5px;
}

.formulario {
    padding: 0 300px;
}

.nome {
    margin: 15px;
}
/*Página Contato*/

.banner {
    background-image: url(../img/businessman-pointing-at-his-presentation-on-the-futuristic-digital-screen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* .titulo-contato, .titulo-mapa {
    position: relative;
    right: 0px;
    padding: 20px;
    color: #87CEFA;
} */

form {
    margin: 20px 0;   
}

form label, form legend {
    display: block;
    font-size: 18px;
    margin: 0 0 3px;
}

input, textarea{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255,255,255,.9);
}

input:hover, textarea:hover {
    background-color: #FFFAFA;
}

.checkbox {
    margin-top: 20px;
}

.enviar {
    width: 200px;
    padding: 15px 0;
    background: #87CEFA;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin: 20px 0;
    
}

.enviar:hover {
    background: #00BFFF ;
    transform: scale(1.2);
}

.contato {
    padding: 20px;
}

/*Página Contato*/

.sub-titulo {
    text-align: center;
}

.link-linkd, .link-face {
    padding: 10px;
}
/*Padrão rodapé*/

.logo-redes {
    text-align: center;
    background: #00BFFF;    
}

.redes, .whats {
    display: flex;
    justify-content: center;  
    padding: 5px;  
}

footer {
    text-align: center;
    background: #FFFFFF;
    padding: 5px;
}

.copyright {
    color: #00BFFF;
    font-size: 13px;
    margin: 0;
}