@charset "UTF-8";

:root {
    --cinza:#FFFAFA;
    --branco-cinzo:#F0F8FF;
    --branco-claro: #f2f2f2;
    --branco:#FFF;
    --azul-claro:#00BFFF;
    --azul-extra-claro:#87CEFA;
    --montserrat: 'Montserrat', sans-serif 

    --nome-da-variavel:valor;
}

body {
    font-family: var(--montserrat);  
}

/*Padrão navbar navegação*/
.nav-link {
    position: relative;
    margin: 0 0 0 30px;
    right: -25px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase; 
}
.nav-link:hover {
    text-decoration: underline;
}

/*Padrão rodapé*/

.logo-redes {
    text-align: center;
    background: var(--azul-claro);    
}

.redes, .whats {
    display: flex;
    justify-content: center;  
    padding: 5px;  
}

footer {
    text-align: center;
    background: var(--branco);
    padding: 5px;
}

.copyright {
    color: var(--azul-claro);
    font-size: 13px;
    margin: 0;
}

@media screen and (max-width: 480px) {
    .principal,.secundario {
        width: auto;
    }
    h1 {
        text-align: center;
    }
    .titulo-principal,.titulo-secundario,.imagem-it {
        width: 100%;
    }
}