@charset "UTF-8";

.banner-anuncio img {
    width: 100%;
    max-width: 100%;
     
}

.banner-vagas {
    
    display: flex;
    justify-content: center;
    
}

.banner-vagas img {
    width: 50%;
    margin-top: 5px;
}

.formulario {
    
    margin-top: 10px;
}

.nome {
    margin: 15px;
}

.enviar {
    width: 200px;
    padding: 15px 0;
    background: var(--azul-extra-claro);
    color: var(--branco);
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin: 20px 0;
    
}

.enviar:hover {
    background: var(--azul-claro);
    transform: scale(1.2);
}